@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.buttonContainer{
    margin: 25px 0px 0px 0px;
    text-align: center;
}
.btn{
    cursor: pointer;
    margin: 15px;
    padding: 12px 24px;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    border-radius: 9999px;
    font-weight: 550;
}

.allbtn{
    background-color: #3B82F6;
    color: white;
}

.allbtn:hover{
    background-color: #2563EB;
}

.btn:active{
    transform: scale(0.98);
}

.passbtn{
background-color: #10B981;
color: white;
}

.passbtn:hover{
background-color: #059669;
}

.failbtn{
background-color: #EF4444;
}

.failbtn:hover{
background-color: #DC2626;
}

.displayContainer{
    margin: 30px 150px;
    padding: 10px;
}

.StudentContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.StudentContainer:hover{
    cursor: pointer;
    transform: translateY(-6px);
}

.name {
    text-align: left;
    width: 100%;
}

.marks {
    text-align: center;
    width: 100%;
}

h3:last-child {
    text-align: right;
    width: 100%;
}