@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.buttonContainer{
    margin: 25px 0px 0px 0px;
    text-align: center;
}
.btn{
    cursor: pointer;
    margin: 15px;
    padding: 12px 24px;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    border-radius: 9999px;
    font-weight: 550;
}

.allbtn{
    background-color: #3B82F6;
    color: white;
}

.allbtn:hover{
    background-color: #2563EB;
}

.btn:active{
    transform: scale(0.98);
}

.passbtn{
background-color: #10B981;
color: white;
}

.passbtn:hover{
background-color: #059669;
}

.failbtn{
background-color: #EF4444;
}

.failbtn:hover{
background-color: #DC2626;
}

