@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
}
.headerText{
    color: #1F2937;
}
.subText{
    color: #6B7281;
    margin: 5px 0px 0px 5px;
}
