@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #F9F8FD;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 60px 110px;
}

.brand{
  display: flex;
  align-items: center;
}

.brandName{
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  letter-spacing: 1.8px;
  font-weight: 600;
  color: #2A8444;
}

.totalExpenseContainer{
  background-color: #FFFFFF;
  padding: 20px 30px 25px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.04);
}

.totalExpenseText{
  color: #6B7280;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
}
